body{

    background-color: hsl(212, 45%, 89%);

}

/** Style for main container. **/

.main-container{


    display: flex;
    justify-content: center;

}

.white-div-container{


    margin-top: 12vh;
    background-color: white;
    width: 75vw;
    height: 65vh;
    border-radius: 3vw;

}


/** Style for QR Code container and image. **/

.qr-image-container{

    display: flex;  
    justify-content: center;
    margin-top: 4vh;

}

.qr-code-image{

    width: 65vw;
    height: 35vh;
    border-radius: 3vw;

}

pre{

    margin-top: vh;
    font-size: 15px;
    font-family: "Outfit", Times New Roman;
    font-weight: 700;

}